@model IEnumerable<hej.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Airplane.Plane_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Airplane.Plane_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Route_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Route_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Route_ID })
        </td>
    </tr>
}

</table>
